.landing-page {
    position: relative;
}

.white-gradient {
    position: absolute;
    background-color: rgba(197, 158, 158, 0.5);
    width: 20rem;
    height: 20rem;
    top: 10%;
    z-index: 2;
    filter: blur(100px);
}

