.value-container {
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: space-bewtween;
    align-items: center;
}

.value-image-container { 
    width: 50%;
    height: min-content;
    text-align: center;
}

.value-image {
    width: 350px;
    background-image: cover;
    border-radius: 200px 200px 0 0;
    border: 10px solid rgba(128, 128, 128, 0.341);
}

.value-accordion-container {
    width: 50%;
    height: 100%;
}