.carousel {
  background-color: pink;
  cursor: pointer;
  overflow: hidden;
  width: 100vw;
  height: 400px;
  display: flex;
  align-items: center;
}

.item {
    min-width: 40rem;
    min-height: 10rem;
    border: 2px solid blue;

}

.innerCarousel {
  background-color: light-blue;
  width: 100%;
  display: flex;
}
  