.nav-wrapper{
    justify-items: space-between;
    background-color: black;
    margin: 0;
    width: 100%;
    color: white;
    border: 2px solid red;
}
.nav-container{
    width: 100%;
    color: white;
    justify-content: space-between;
    padding: 1rem;
}
.nav-container a:hover{
    color: rgb(21, 248, 0);
}
.nav-menu{
    gap: 2rem;
}