.hero-wrapper {
    color: white;
    position: relative;
    padding-bottom: 2rem;
    background-color: var(--black);
}

div.hero-container {
    justify-content: space-between;
}

/*Right Side*/
.hero-right {
    border: 2px solid red;
}
.image-container {
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(255, 255, 255, 0.12);
}

.image-container>img {
    width: 100%;
    height: 100%;
}

/*Left side*/

.hero-left{
    gap: 3rem;
    border: 2px solid red;
}

.hero-title {
    position: relative;
    z-index: 5;
}

.hero-title>h1 {
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}

.orange-circle {
    height: 4rem;
    width: 4rem;
    background-color: orange;
    border-radius: 999px;
    position: absolute;
    z-index: -10;
    right: 28%;
    top: 12%;
}

.search-bar {
    background-color: white;
    padding: 0.5rem 1rem;
    border: 3px solid rgba(120, 120, 120, 0.374);   
    border-radius: 5px;
    justify-content: space-between !important;
}

.search-bar input{
    border: none;
    outline: none;
    
}